<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%#= @restaurant.review %></p>

<%#= link_to 'Reviews',  %>
<%= link_to 'Home', restaurants_path %>
